:root {
	--primary-color: #0c1a2d;
	--text-color: #fff;
}

body {
	background-color: var(
		--primary-color
	);
	color: var(--text-color);
	font-family: "Montserrat", sans-serif;
}

.navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.wallet {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wallet img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

.cut-text {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100px;
	height: 1.2em;
	white-space: nowrap;
}
